html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: sans-serif;
}

h1 {
	margin-top: 20px;
	margin-bottom: 30px;
	font-size: 2em;
	font-weight: bold;
}

#input-form {
	padding: 20px;
	border: 1px #bbb solid;
	border-radius: 5px;
}

#input-form table {
	margin: 0 auto;
}

#input-form th {
	text-align: right;
	padding-right: 10px;
	padding-bottom: 10px;
}
#input-form td {
	text-align: left;
	padding-bottom: 10px;
}

.container {
	max-width: 800px;
	margin: 0 auto;
	text-align: center;
}

#footer {
	margin-top: 40px;
	font-size: 0.8em;
	border-top: 1px #ddd solid;
	padding: 10px;
}

#connect-button {
	width: 200px;
	height: 50px;
	margin: 20px 10px;
}
#url {
	height: 50px;
}

#output {
	margin: 10px 0;
	padding: 10px;
	display: none;
}
